.landing-slider {
	.swiper-slide {
		img {
			max-width: 100%;
			height: auto;
		}

		a {
			text-decoration-color: transparent;
			transition-property: text-decoration-color;
			transition-duration: 300ms;
			transition-timing-function: ease-in-out;
			text-underline-offset: 6px;

			.overlay {
				background-color: $darkGrey;
				width: 100%;
				height: 100%;
				display: flex;
			}

			img {
				opacity: 1;
				transition-property: opacity;
				transition-duration: 300ms;
				transition-timing-function: ease-in-out;
			}

			.slider-caption {
				padding-block: 1rem;
				color: $darkBlue;
			}

			&:hover,
			:focus-visible {
				text-decoration-color: $lightBlue;
				color: $lightBlue;

				img {
					opacity: 0.75;
				}
			}
		}
	}
}

.slider-buttons-wrapper {
	position: relative;

	.swiper-button-prev {
		left: unset;
		right: 6rem;
	}

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 1rem;
		bottom: 0;
		border-style: solid;
		border-color: $lightGrey;
		border-width: 1px;
		padding: 0.25rem;
		transition-property: background-color;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;

		svg {
			font-size: rem(18);
		}

		&:hover {
			background-color: $darkGrey;

			svg {
				color: $lightGrey;
			}
		}

		&:after {
			display: none;
		}
	}
}

.single-section {
	&--pi-2 {
		padding-inline: 2rem;
	}

	&--pi-4 {
		padding-inline: 4rem;
	}
}

.section-title {
	font-weight: 700;
	padding-bottom: 15px;
	position: relative;
	color: $darkBlue;

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 50px;
		height: 3px;
		background-color: $lightBlue;
		bottom: 0;
		left: 0;
	}
}

.section-sub-title {
	padding-bottom: 10px;
	position: relative;
	color: $darkGrey;

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 25px;
		height: 2px;
		background-color: $lightBlue;
		bottom: 0;
		left: 0;
	}
}

p {
	color: #040b14;
	padding-block: 2rem;
}

.col-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3rem;

	.left-col {
		grid-column: 1/2;
		place-self: center;

		@supports not (aspect-ratio: 1/1) {
			position: relative;

			&::before {
				content: "";
				display: block;
				padding-top: calc((400 / 600) * 100%);
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				inset: 0;
				object-fit: cover;
			}
		}

		@supports (aspect-ratio: 1/1) {
			img {
				aspect-ratio: 600/400;
				height: auto;
				width: 100%;
				object-fit: cover;
			}
		}

		img {
			box-shadow: 10px 10px $lightBlue;
		}
	}

	.right-col {
		grid-column: 2/3;
		place-self: center;

		.section-sub-title {
			margin-top: 2rem;
		}
	}

	.col-image--top {
		object-position: start;
	}

	@supports not (aspect-ratio: 1/1) {
		position: relative;

		&::before {
			content: "";
			display: block;
			padding-top: calc((300 / 500) * 100%);
		}

		.col-image {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			object-fit: cover;
		}
	}

	@supports (aspect-ratio: 1/1) {
		.col-image {
			aspect-ratio: 500/300;
			height: auto;
			width: 100%;
			object-fit: cover;
		}
	}
}

.h6 {
	position: relative;
}

.quote {
	font-style: italic;
	font-weight: 100;
	letter-spacing: 2px;
	color: $medGrey;
	font-size: rem(16);

	svg {
		font-size: rem(24);
		color: $lightBlue;
	}
}

.details-block {
	margin-top: 1rem;
	display: grid;
	grid-gap: 2rem 1rem;
	grid-template-columns: repeat(2, 1fr);
	list-style-type: none;
	padding-left: 0;

	li {
		svg {
			padding-right: 0.5rem;
			color: $lightBlue;
		}

		span {
			font-weight: 400;
		}
	}
}

.activities-block {
	margin-top: 3rem;

	.h5 {
		font-weight: 500;
	}

	p {
		padding-block: 1rem;
	}

	.col-left,
	.col-right {
		align-self: center;
	}
}

.work-card-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;

	.card {
		height: 600px;
		width: auto;
		cursor: pointer;
		box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
		text-decoration: none;
		display: none;
		grid-template-rows: repeat(3, 1fr);

		.overlay {
			grid-row: 1/-1;
			grid-column: 1/-1;
			background-color: $lightBlue;
			height: 0;
			width: 100%;
			transition-property: height, opacity;
			transition-duration: 200ms;
			transition-timing-function: ease-in-out;
			z-index: 1;
			opacity: 0;
		}

		.card-image {
			object-fit: cover;
			width: 100%;
			height: 100%;
			opacity: 0.75;
			grid-row: 1/-1;
			grid-column: 1/-1;
		}

		.h6 {
			grid-column: 1/-1;
			grid-row: 3/4;
			align-self: flex-end;
			text-transform: uppercase;
			color: $lightGrey;
			z-index: 2;
			margin-bottom: 1rem;
			transition-property: grid-row, text-shadow;
			transition-duration: 700ms, 150ms;
			transition-timing-function: ease-in-out;
			transition-delay: 200ms, 0;
			text-shadow: 2px 2px 2px $darkBlue;
			padding-inline: 1rem;
		}

		.content {
			grid-row: 2/3;
			grid-column: 1/-1;
			z-index: 2;
			opacity: 0;
			transition-property: opacity;
			transition-duration: 200ms;
			transition-timing-function: ease-in-out;
			padding-inline: 1rem;

			p {
				max-width: 80%;
				color: $lightGrey;
				padding-block: 1rem;
			}
		}

		.links {
			grid-row: 3/4;
			grid-column: 1/-1;
			align-self: flex-start;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			z-index: 2;
			transition-property: grid-row;
			transition-duration: 300ms;
			transition-timing-function: ease-in-out;
			padding-inline: 1rem;
		}

		.button {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			max-width: 80%;
			opacity: 0;
			color: $lightGrey;
			transition-property: opacity, text-decoration-color;
			transition-duration: 200ms;
			transition-timing-function: ease-in-out;
			text-decoration-color: transparent;

			&:hover {
				text-decoration-color: $lightGrey;
				text-underline-offset: 3px;
			}
		}

		&:hover {
			.overlay {
				height: 100%;
				opacity: 0.7;
			}

			.h6 {
				color: $lightGrey;
				text-shadow: none;
				grid-row: 1/2;
			}

			.content,
			.button {
				opacity: 1;
				align-self: center;
			}
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			display: grid;
		}
	}

	button {
		grid-column: 2/3;
		width: 100% !important;

		@include btn-main($lightGrey, $darkBlue);
	}
}
