.landing-slider {
	.swiper-slide {
		img {
			max-width: 100%;
			height: auto;
		}

		a {
			text-decoration-color: transparent;
			transition-property: text-decoration-color;
			transition-duration: 300ms;
			transition-timing-function: ease-in-out;
			text-underline-offset: 6px;

			.overlay {
				background-color: $darkGrey;
				width: 100%;
				height: 100%;
				display: flex;
			}

			img {
				opacity: 1;
				transition-property: opacity;
				transition-duration: 300ms;
				transition-timing-function: ease-in-out;
			}

			.slider-caption {
				padding-block: 1rem;
				color: $darkBlue;
			}

			&:hover,
			:focus-visible {
				text-decoration-color: $lightBlue;
				color: $lightBlue;

				img {
					opacity: 0.75;
				}
			}
		}
	}
}

.slider-buttons-wrapper {
	position: relative;

	.swiper-button-prev {
		left: unset;
		right: 6rem;
	}

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 1rem;
		bottom: 0;
		border-style: solid;
		border-color: $lightGrey;
		border-width: 1px;
		padding: 0.25rem;
		transition-property: background-color;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;

		svg {
			font-size: rem(18);
		}

		&:hover {
			background-color: $darkGrey;

			svg {
				color: $lightGrey;
			}
		}

		&:after {
			display: none;
		}
	}
}

.single-section {
	&--pi-2 {
		padding-inline: 2rem;
	}
}

.text-image {
	&--pi-2 {
		padding-inline: 2rem;
	}

	&--pi-4 {
		padding-inline: 4rem;
	}
}

.section-title {
	font-weight: 700;
	padding-bottom: 15px;
	position: relative;
	color: $darkBlue;

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 50px;
		height: 3px;
		background-color: $lightBlue;
		bottom: 0;
		left: 0;
	}
}

.section-sub-title {
	padding-bottom: 10px;
	position: relative;
	color: $darkGrey;

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 25px;
		height: 2px;
		background-color: $lightBlue;
		bottom: 0;
		left: 0;
	}
}

p {
	color: #040b14;
	padding-block: 2rem;
}

.col-wrapper {
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3rem;

	.left-col {
		grid-column: 1/2;

		@supports not (aspect-ratio: 1/1) {
			position: relative;

			&::before {
				content: "";
				display: block;
				padding-top: calc((400 / 600) * 100%);
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				inset: 0;
				object-fit: cover;
			}
		}

		@supports (aspect-ratio: 1/1) {
			img {
				aspect-ratio: 600/400;
				height: auto;
				width: 100%;
				object-fit: cover;
			}
		}

		img {
			box-shadow: 10px 10px $lightBlue;
		}
	}

	.right-col {
		grid-column: 2/3;

		.section-sub-title {
			margin-top: 2rem;
		}
	}

	@supports not (aspect-ratio: 1/1) {
		position: relative;

		&::before {
			content: "";
			display: block;
			padding-top: calc((300 / 500) * 100%);
		}

		.col-image {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			object-fit: cover;
		}
	}

	@supports (aspect-ratio: 1/1) {
		.col-image {
			aspect-ratio: 500/300;
			height: auto;
			width: 100%;
			object-fit: cover;
		}
	}

	.col-image--top {
		object-position: start;
	}

	&--outside {
		display: grid;

		.left-col {
			grid-column: 1/2;
			place-self: center;

			@supports not (aspect-ratio: 1/1) {
				position: relative;

				&::before {
					content: "";
					display: block;
					padding-top: calc((400 / 600) * 100%);
				}

				img {
					position: absolute;
					width: 100%;
					height: 100%;
					inset: 0;
					object-fit: cover;
				}
			}

			@supports (aspect-ratio: 1/1) {
				img {
					aspect-ratio: 600/400;
					height: auto;
					width: 100%;
					object-fit: cover;
				}
			}

			img {
				box-shadow: none;
			}
		}

		.right-col {
			grid-column: 2/3;
			place-self: center;

			.section-sub-title {
				margin-top: 2rem;
			}
		}

		@supports not (aspect-ratio: 1/1) {
			position: relative;

			&::before {
				content: "";
				display: block;
				padding-top: calc((300 / 500) * 100%);
			}

			.col-image {
				position: absolute;
				width: 100%;
				height: 100%;
				inset: 0;
				object-fit: cover;
			}
		}

		@supports (aspect-ratio: 1/1) {
			.col-image {
				aspect-ratio: 500/300;
				height: auto;
				width: 100%;
				object-fit: cover;
			}
		}

		.col-image--top {
			object-position: start;
		}
	}

	&--desktop {
		display: grid;

		.left-col {
			place-self: center;
		}

		.right-col {
			place-self: center;
		}
	}

	&--tablet {
		display: none;

		.f-width-col {
			grid-column: 1/3;
		}

		.left-col {
			place-self: center;
		}
	}
}

.h6 {
	position: relative;
}

.quote {
	font-style: italic;
	font-weight: 100;
	letter-spacing: 2px;
	color: $medGrey;
	font-size: rem(16);

	svg {
		font-size: rem(24);
		color: $lightBlue;
	}
}

.details-block {
	margin-top: 1rem;
	display: grid;
	grid-gap: 2rem 1rem;
	grid-template-columns: repeat(2, 1fr);
	list-style-type: none;
	padding-left: 0;

	li {
		svg {
			padding-right: 0.5rem;
			color: $lightBlue;
		}

		span {
			font-weight: 400;
		}
	}
}

.activities-block {
	margin-top: 3rem;

	&:nth-child(1) {
		margin-top: 0;
	}

	.h5 {
		font-weight: 500;
	}

	p {
		padding-block: 1rem;
	}

	.col-left,
	.col-right {
		align-self: center;
	}
}

.work-card-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;

	.card {
		height: 0;
		width: auto;
		cursor: pointer;
		box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
		text-decoration: none;
		display: grid;
		visibility: hidden;
		opacity: 0;
		grid-template-rows: repeat(3, 1fr);
		transition-property: visibility, height, opacity;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;
		max-height: 600px;

		.overlay {
			grid-row: 1/-1;
			grid-column: 1/-1;
			background-color: $lightBlue;
			height: 0;
			width: 100%;
			transition-property: height, opacity;
			transition-duration: 200ms;
			transition-timing-function: ease-in-out;
			z-index: 1;
			opacity: 0;
			max-height: 600px;
		}

		.card-image {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 600px;
			opacity: 0.75;
			grid-row: 1/-1;
			grid-column: 1/-1;
		}

		.h6 {
			grid-column: 1/-1;
			grid-row: 3/4;
			align-self: flex-end;
			text-transform: uppercase;
			color: $lightGrey;
			z-index: 2;
			margin-bottom: 1rem;
			transition-property: grid-row, text-shadow;
			transition-duration: 700ms, 150ms;
			transition-timing-function: ease-in-out;
			transition-delay: 200ms, 0;
			text-shadow: 2px 2px 2px $darkBlue;
			padding-inline: 1rem;
		}

		.content {
			grid-row: 2/3;
			grid-column: 1/-1;
			z-index: 2;
			opacity: 0;
			transition-property: opacity;
			transition-duration: 200ms;
			transition-timing-function: ease-in-out;
			padding-inline: 1rem;
			max-height: 600px;

			p {
				max-width: 80%;
				color: $lightGrey;
				padding-block: 1rem;
				padding-inline: 0;
			}
		}

		.links {
			grid-row: 3/4;
			grid-column: 1/-1;
			align-self: flex-start;
			width: auto;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			z-index: 2;
			transition-property: grid-row;
			transition-duration: 300ms;
			transition-timing-function: ease-in-out;
			padding-inline: 1rem;
		}

		.button {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			max-width: 80%;
			opacity: 0;
			color: $lightGrey;
			transition-property: opacity, text-decoration-color;
			transition-duration: 200ms;
			transition-timing-function: ease-in-out;
			text-decoration-color: transparent;

			&:hover {
				text-decoration-color: $lightGrey;
				text-underline-offset: 3px;
			}
		}

		&:hover {
			.overlay {
				height: 100%;
				opacity: 0.7;
			}

			.h6 {
				color: $lightGrey;
				text-shadow: none;
				grid-row: 1/2;
			}

			.content,
			.button {
				opacity: 1;
				align-self: center;
			}
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			visibility: visible;
			opacity: 1;
			max-height: 600px;
			height: 100%;
		}

		.btn {
			background-color: transparent;
			border-bottom-color: transparent;
			border: none;
			text-align: left;
			padding: 0;
			margin-top: 1rem;
		}
	}

	button {
		grid-column: 2/3;
		width: 100% !important;

		@include btn-main($lightGrey, $darkBlue);
	}
}

// @media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1680px) {
	.text-image--pi-4 {
		padding-inline: 3rem;
	}
}

@media only screen and (max-width: 1366px) {
	.activities-block .col-wrapper--desktop {
		display: grid !important;
	}

	.col-wrapper {
		&--desktop {
			display: none;
		}

		&--tablet {
			display: grid;
		}
	}

	.work-card-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.work-card-wrapper button {
		grid-column: 1/3;
	}

	.work-card-wrapper .card,
	.work-card-wrapper .card:nth-child(1),
	.work-card-wrapper .card:nth-child(2),
	.work-card-wrapper .card:nth-child(3),
	.work-card-wrapper .card .overlay,
	.work-card-wrapper .card .card-image,
	.work-card-wrapper .card .content {
		max-height: 450px;
	}

	.text-image--pi-4 {
		padding-inline: 2rem;
	}
}

@media only screen and (max-width: 1199px) {
	.col-wrapper {
		grid-gap: 2rem;

		&--outside {
			grid-template-columns: 1fr;
			grid-gap: 1rem 0;

			.left-col,
			.right-col {
				grid-column: 1/3;
			}

			.left-col {
				grid-row: 2/3;
			}

			.right-col {
				grid-row: 1/2;
			}
		}
	}

	.work-card-wrapper {
		grid-template-columns: 1fr;
		grid-gap: 2rem 0;

		.card {
			grid-column: 1/2;
		}
	}

	.text-image--pi-4 {
		padding-inline: 1rem;
	}

	.text-image--pi-2:nth-child(1) .inner-wrapper--1680 {
		padding-bottom: 0;
	}

	.text-image--pi-2:nth-child(odd):not(:nth-child(1)) {
		.col-wrapper--outside {
			.left-col {
				grid-row: 1/2;
			}

			.right-col {
				grid-row: 2/3;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.col-wrapper {
		&--tablet {
			grid-template-columns: 1fr;
			grid-gap: 2rem 0;

			.left-col {
				grid-row: 1/2;
				grid-column: 1/2;
			}

			.right-col {
				grid-row: 2/3;
				grid-column: 1/2;
			}
		}
	}

	.work-card-wrapper .card .content p {
		max-width: 90%;
	}

	.work-card-wrapper .card,
	.work-card-wrapper .card:nth-child(1),
	.work-card-wrapper .card:nth-child(2),
	.work-card-wrapper .card:nth-child(3),
	.work-card-wrapper .card .overlay,
	.work-card-wrapper .card .card-image,
	.work-card-wrapper .card .content {
		max-height: 350px;
	}

	.text-image--pi-4 {
		padding-inline: 0;
	}
}

@media only screen and (max-width: 767px) {
	p {
		padding-block: 1rem;
	}

	.col-wrapper .left-col img {
		max-width: 550px;
	}

	.col-wrapper--outside {
		.left-col,
		.right-col {
			display: block;
		}
	}
}

@media only screen and (max-width: 575px) {
	.single-section--pi-2 {
		padding-inline: 1rem;
	}

	.text-image--pi-2 {
		padding-inline: 1rem;
	}

	.section-title {
		padding-bottom: 5px;
	}

	.col-wrapper .left-col img {
		box-shadow: none;
	}

	.col-wrapper--tablet .f-width-col {
		.details-block {
			grid-template-columns: 1fr;
			grid-gap: 1rem 0;
		}
	}
}

@media only screen and (max-width: 360px) {
	.slider-buttons-wrapper .swiper-button-prev {
		right: unset;
		left: 0;
	}

	.col-wrapper--tablet {
		grid-gap: 1rem 0;
	}
}
