// Colour Variables
$white: #fff;
$darkBlue: #173b6c;
$paleBlue: #506aa0;
$lightGrey: #e4f0ff;
$medGrey: #2c2f3f;
$darkGrey: #040b14;
$medGold: #d6a319;

// Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");
@import 'functions.scss';

// Font Weights
$light: 100;
$normal: 400;
$bold: 700;

body {
    font-family: 'Roboto', sans-serif;
}

h1,
.h1 {
    font-size: rem(70);
    letter-spacing: rem(10)
}

h2,
.h2 {
    letter-spacing: rem(200);
}

h3,
.h3 {
    letter-spacing: rem(200);
}

h4,
.h4 {
    letter-spacing: rem(200);
}

h5,
.h5 {
    letter-spacing: rem(200);
}

h6,
.h6 {
    letter-spacing: rem(200);
}

li,
.li {
    letter-spacing: rem(200);
}

button,
.btn {
    letter-spacing: rem(200);
}

p,
.p {
    letter-spacing: rem(200);
}