@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

h1,
.h1 {
  font-size: 4.375rem;
  letter-spacing: 0.625rem;
}

h2,
.h2 {
  font-size: 3.75rem;
  letter-spacing: 0.5rem;
}

h3,
.h3 {
  font-size: 3.125rem;
  letter-spacing: 0.375rem;
}

h4,
.h4 {
  font-size: 1.875rem;
  letter-spacing: 0.375rem;
}

h5,
.h5 {
  font-size: 1.5625rem;
  letter-spacing: 0.375rem;
}

h6,
.h6 {
  font-size: 1.25rem;
  letter-spacing: 0.375rem;
}

li,
.li {
  font-size: 1.125rem;
  font-weight: 600;
}

button,
.btn {
  font-size: 1.125rem;
}

p,
.p {
  font-size: 1.125rem;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg-1.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  /* font-size: 64px; */
  /* font-weight: 700; */
  /* line-height: 56px; */
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
.header {
  position: sticky;
  top: 0;
  align-self: start;
  background: url("../img/background.jpg") rgba(4, 11, 20, 0.7);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header .profile {
  display: grid;
  grid-template-rows: 350px auto;
}
.header .profile img {
  grid-row: 1/2;
  width: auto;
  height: 100%;
  max-height: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 1rem auto;
  border-color: #2c2f3f;
  border-style: solid;
  border-width: 8px;
  border-radius: 100%;
}
.header .profile h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}
.header .profile h2 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
  color: #e4f0ff;
  text-align: center;
}
.header .profile svg {
  font-size: 1.5rem;
}
.header .profile .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header .profile .social-links a {
  font-size: 1.125rem;
  display: flex;
  gap: 1rem;
}
.header .profile .social-links a svg {
  color: #e4f0ff;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.header .profile .social-links a:hover svg {
  color: #fff;
}

nav.nav-menu {
  padding-top: 2rem;
}
nav.nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}
nav.nav-menu ul li {
  padding-block: 1rem;
}
nav.nav-menu a {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  color: #e4f0ff;
  text-underline-offset: 0.5rem;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  transition-property: text-decoration-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
nav.nav-menu a:hover {
  text-decoration-color: #e4f0ff;
}
nav.nav-menu a.active {
  width: fit-content;
  color: #506aa0;
  text-underline-offset: 0.5rem;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  transition-property: text-decoration-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
nav.nav-menu a.active:hover {
  text-decoration-color: #506aa0;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}
/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.landing-slider .swiper-slide img {
  max-width: 100%;
  height: auto;
}
.landing-slider .swiper-slide a {
  text-decoration-color: transparent;
  transition-property: text-decoration-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  text-underline-offset: 6px;
}
.landing-slider .swiper-slide a .overlay {
  background-color: #040b14;
  width: 100%;
  height: 100%;
  display: flex;
}
.landing-slider .swiper-slide a img {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.landing-slider .swiper-slide a .slider-caption {
  padding-block: 1rem;
  color: #173b6c;
}
.landing-slider .swiper-slide a:hover,
.landing-slider .swiper-slide a :focus-visible {
  text-decoration-color: #149ddd;
  color: #149ddd;
}
.landing-slider .swiper-slide a:hover img,
.landing-slider .swiper-slide a :focus-visible img {
  opacity: 0.75;
}

.slider-buttons-wrapper {
  position: relative;
}
.slider-buttons-wrapper .swiper-button-prev {
  left: unset;
  right: 6rem;
}
.slider-buttons-wrapper .swiper-button-next {
  right: 0;
}
.slider-buttons-wrapper .swiper-button-prev,
.slider-buttons-wrapper .swiper-button-next {
  top: 1rem;
  bottom: 0;
  border-style: solid;
  border-color: #e4f0ff;
  border-width: 1px;
  padding: 0.25rem;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.slider-buttons-wrapper .swiper-button-prev svg,
.slider-buttons-wrapper .swiper-button-next svg {
  font-size: 1.125rem;
}
.slider-buttons-wrapper .swiper-button-prev:hover,
.slider-buttons-wrapper .swiper-button-next:hover {
  background-color: #040b14;
}
.slider-buttons-wrapper .swiper-button-prev:hover svg,
.slider-buttons-wrapper .swiper-button-next:hover svg {
  color: #e4f0ff;
}
.slider-buttons-wrapper .swiper-button-prev:after,
.slider-buttons-wrapper .swiper-button-next:after {
  display: none;
}

.single-section--pi-2 {
  padding-inline: 2rem;
}
.single-section--pi-4 {
  padding-inline: 4rem;
}

.section-title {
  font-weight: 700;
  padding-bottom: 15px;
  position: relative;
  color: #173b6c;
}
.section-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
}

.section-sub-title {
  padding-bottom: 10px;
  position: relative;
  color: #040b14;
}
.section-sub-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
}

p {
  color: #040b14;
  padding-block: 2rem;
}

.col-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
.col-wrapper .left-col {
  grid-column: 1/2;
  place-self: center;
}
@supports not (aspect-ratio: 1/1) {
  .col-wrapper .left-col {
    position: relative;
  }
  .col-wrapper .left-col::before {
    content: "";
    display: block;
    padding-top: 66.6666666667%;
  }
  .col-wrapper .left-col img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }
}
@supports (aspect-ratio: 1/1) {
  .col-wrapper .left-col img {
    aspect-ratio: 600/400;
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
.col-wrapper .left-col img {
  box-shadow: 10px 10px #149ddd;
}
.col-wrapper .right-col {
  grid-column: 2/3;
  place-self: center;
}
.col-wrapper .right-col .section-sub-title {
  margin-top: 2rem;
}
.col-wrapper .col-image--top {
  object-position: start;
}
@supports not (aspect-ratio: 1/1) {
  .col-wrapper {
    position: relative;
  }
  .col-wrapper::before {
    content: "";
    display: block;
    padding-top: 60%;
  }
  .col-wrapper .col-image {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }
}
@supports (aspect-ratio: 1/1) {
  .col-wrapper .col-image {
    aspect-ratio: 500/300;
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.h6 {
  position: relative;
}

.quote {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 2px;
  color: #2c2f3f;
  font-size: 1rem;
}
.quote svg {
  font-size: 1.5rem;
  color: #149ddd;
}

.details-block {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  padding-left: 0;
}
.details-block li svg {
  padding-right: 0.5rem;
  color: #149ddd;
}
.details-block li span {
  font-weight: 400;
}

.activities-block {
  margin-top: 3rem;
}
.activities-block .h5 {
  font-weight: 500;
}
.activities-block p {
  padding-block: 1rem;
}
.activities-block .col-left,
.activities-block .col-right {
  align-self: center;
}

.work-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.work-card-wrapper .card {
  height: 600px;
  width: auto;
  cursor: pointer;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: none;
  grid-template-rows: repeat(3, 1fr);
}
.work-card-wrapper .card .overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-color: #149ddd;
  height: 0;
  width: 100%;
  transition-property: height, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  z-index: 1;
  opacity: 0;
}
.work-card-wrapper .card .card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.work-card-wrapper .card .h6 {
  grid-column: 1/-1;
  grid-row: 3/4;
  align-self: flex-end;
  text-transform: uppercase;
  color: #e4f0ff;
  z-index: 2;
  margin-bottom: 1rem;
  transition-property: grid-row, text-shadow;
  transition-duration: 700ms, 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 200ms, 0;
  text-shadow: 2px 2px 2px #173b6c;
  padding-inline: 1rem;
}
.work-card-wrapper .card .content {
  grid-row: 2/3;
  grid-column: 1/-1;
  z-index: 2;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  padding-inline: 1rem;
}
.work-card-wrapper .card .content p {
  max-width: 80%;
  color: #e4f0ff;
  padding-block: 1rem;
}
.work-card-wrapper .card .links {
  grid-row: 3/4;
  grid-column: 1/-1;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 2;
  transition-property: grid-row;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  padding-inline: 1rem;
}
.work-card-wrapper .card .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 80%;
  opacity: 0;
  color: #e4f0ff;
  transition-property: opacity, text-decoration-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  text-decoration-color: transparent;
}
.work-card-wrapper .card .button:hover {
  text-decoration-color: #e4f0ff;
  text-underline-offset: 3px;
}
.work-card-wrapper .card:hover .overlay {
  height: 100%;
  opacity: 0.7;
}
.work-card-wrapper .card:hover .h6 {
  color: #e4f0ff;
  text-shadow: none;
  grid-row: 1/2;
}
.work-card-wrapper .card:hover .content,
.work-card-wrapper .card:hover .button {
  opacity: 1;
  align-self: center;
}
.work-card-wrapper .card:nth-child(1), .work-card-wrapper .card:nth-child(2), .work-card-wrapper .card:nth-child(3) {
  display: grid;
}
.work-card-wrapper button {
  grid-column: 2/3;
  width: 100% !important;
  width: fit-content;
  color: #e4f0ff;
  background-color: #173b6c;
  padding: 6px 30px;
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #173b6c;
  cursor: pointer;
}
.work-card-wrapper button:hover {
  background-color: #fff;
  color: #173b6c;
}

body {
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}

.inner-wrapper--1680 {
  max-width: 105rem;
  margin-inline: auto;
  padding-block: 2rem;
}
.inner-wrapper--1680-lg {
  padding-block: 4rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
}
.wrapper .header {
  grid-column: 1/2;
}
.wrapper .container {
  grid-column: 2/3;
  overflow: auto;
  min-height: 100%;
  height: 100vh;
}

#home {
  padding-bottom: 4rem;
}

.lg-bg {
  background-color: #e4f0ff;
}

/*# sourceMappingURL=main.css.map */
